@model Phoenix.PhoenixApp.Presentation.MVC.Models.ProfileModule.ProfilePageModel
<div id="profile-header">
    @Html.Partial(MVCT.Profile.Views._ProfileHeader)
</div>
<div id="profile">@Html.Partial(MVCT.Profile.Views._Profile)</div>
<div id="achieve">@Html.Partial(MVCT.Profile.Views._Achieve)</div>
<div id="results">@Html.Partial(MVCT.Profile.Views._Results)</div>
<div id="resume">@Html.Partial(MVCT.Profile.Views._Resume)</div>
<div id="media"></div>
<div id="contact">@Html.Partial(MVCT.Profile.Views._Contact)</div>
<div id="friends"></div>
<div id="twitwall"></div>
